<section class="lp-layer call2action padding-block-32" data-md-color-scheme="slate">
    <div class="layer_inner center">
        <div class="cta padding-block-64">
            <h3 class="fs-headline-m fw-bold" style="margin-bottom: var(--size-16);">让我们一起升级您的创作工具</h3>
            <p>Luctus metus ad suscipit duis curae et accumsan sit. Ac ultrices feugiat amet bibendum sodales. Magnis netus ante penatibus convallis cras quam posuere. Ligula vivamus mattis sit.
            </p>
            <button class="button" style="margin-top: var(--size-32);"><a href="#">Get Started</a></button>
        </div>
    </div>
</section>