<section class="lp-layer components">
    <div class="layer_inner padding-block-32">
        <div class="feature-grid">
            <div class="grid_item">
                <div class="grid-image">
                    <img class="box-shadow" src="assets/bjm_logo.png">
                </div>
                <div class="grid-text">
                    <h4 class="fs-headline-m fw-bold">设计</h4>
                    <p class="padding-block-24">Blender能轻松管理设计图导入，并轻松转换为建模所需的线条。同时无缝集成各类免费AI工具，例如使用AI生成基础模型、概念图或纹理，再通过手绘/雕刻进行精雕细琢；
                        </p>
                    <button class="button right"><a href="#">查看详情</a><span></span></button>
                </div>
            </div>
            <div class="grid_item">
                <div class="grid-image left">
                    <img class="box-shadow" src="assets/bjm_logo.png">
                </div>
                <div class="grid-text">
                    <h4 class="fs-headline-m fw-bold">建模</h4>
                    <p class="padding-block-24">强大综合工具集，参数化非破坏性编辑，精准构建复杂模型，亦可自定义工具
                    </p>
                    <button class="button right"><a href="#">查看详情</a><span></span></button>
                </div>
            </div>
            <div class="grid_item">
                <div class="grid-image">
                    <img class="box-shadow" src="assets/bjm_logo.png">
                </div>
                <div class="grid-text">
                    <h4 class="fs-headline-m fw-bold">渲染</h4>
                    <p class="padding-block-24">内置实时渲染引擎Eevee以及离线渲染引擎Cycles，前者提供实时级高清预览，后者能快速渲染照片级真实图像
                    </p>
                    <button class="button right"><a href="#">查看详情</a><span></span></button>
                </div>
            </div>
        </div>
    </div>
</section>