<section class="lp-layer components">
    <div class="layer_inner padding-block-32">
        <div class="feature-grid">
            <div class="grid_item">
                <div class="grid-image">
                    <img class="box-shadow" src="assets/bjm_logo.png">
                </div>
                <div class="grid-text">
                    <h4 class="fs-headline-m fw-bold">设计</h4>
                    <p class="padding-block-24">Blender的手绘设计核心是其革命性的Grease Pencil工具，它将二维手绘转化为三维空间中的对象，允许艺术家直接在3D模型上进行概念绘制、故事板创作和制作2D/3D融合动画。
                        在AI设计方面，凭借其Python集成， Blender能无缝集成各类AI工具，例如使用AI生成基础模型、概念图或纹理，再通过手绘/雕刻进行精雕细琢；
                        </p>
                    <button class="button right"><a href="#">查看详情</a><span></span></button>
                </div>
            </div>
            <div class="grid_item">
                <div class="grid-image left">
                    <img class="box-shadow" src="assets/bjm_logo.png">
                </div>
                <div class="grid-text">
                    <h4 class="fs-headline-m fw-bold">建模</h4>
                    <p class="padding-block-24">强大综合工具集，参数化非破坏性编辑，精准构建复杂模型
                    </p>
                    <button class="button right"><a href="#">查看详情</a><span></span></button>
                </div>
            </div>
            <div class="grid_item">
                <div class="grid-image">
                    <img class="box-shadow" src="assets/bjm_logo.png">
                </div>
                <div class="grid-text">
                    <h4 class="fs-headline-m fw-bold">渲染</h4>
                    <p class="padding-block-24">LCycles则是一款基于物理的光线追踪渲染器，能够计算出电影级别的照片级真实图像
                    </p>
                    <button class="button right"><a href="#">查看详情</a><span></span></button>
                </div>
            </div>
        </div>
    </div>
</section>