<section class="lp-layer faq | padding-block-64">
    <div class="layer_inner">
        <div class="layer_header | center" style="--tab-index: 1;">
            <h2 class="fs-headline-m fw-bold" style="margin-bottom: var(--size-16);">最受关注的问题</h2>
        </div>
        <div class="even-columns grid-2-3 center" style="margin-top: var(--size-64);">
            <div class="question" style="--tab-index: 1;">
                <strong class="fs-text-xl fc-base-main fw-semibold">BJM难不难学？</strong>
                <p>传统Blender的学习之路常因专业术语和抽象操作而令人望而生畏，但我们臻品斑斓彻底改变了这一局面。我们以您最熟悉的珠宝设计与工艺语言为核心，对软件的操作逻辑、界面命名及工具流程进行了全方位的“珠宝化”重构。
                    您将不再困惑于陌生的指令，取而代之的是“纹理”、“镶嵌”、“花丝”等直观的修改器</p>
            </div>
            <div class="question" style="--tab-index: 2;">
                <strong class="fs-text-xl fc-base-main fw-semibold">能对接犀牛/JCAD/ZBrush吗？</strong>
                <p>目前，BJM支持导入犀牛和JCAD创建的iges文件, 以及导出流形拓扑结构的网格为iges文件。我们还一同分发开源插件Gob，可用于无缝对接ZBrush</p>
            </div>
            <div class="question" style="--tab-index: 3;">
                <strong class="fs-text-xl fc-base-main fw-semibold">BJM会持续更新吗？</strong>
                <p>JM插件源自我们团队二十余年的珠宝研发与生产经验，这份深厚的行业积淀和对工艺的极致追求，是我们打造这款插件的初心与基石。
                    我们在业界的声音与地位，决定了我们对此产品的承诺绝非空谈。它不仅仅是一个工具，更是我们毕生所学与热爱的结晶</p>
            </div>
            <div class="question" style="--tab-index: 4;">
                <strong class="fs-text-xl fc-base-main fw-semibold">BJM出现问题了怎么办？</strong>
                <p>请优先查阅我们为您准备的详尽用户手册（知识库）和在用户群中搜索。手册是针对所有功能的官方权威说明。
                    用户群则是一个巨大的知识宝库，您遇到的绝大多数常见问题，很可能早已有其他伙伴提出并得到了完善的解答通过搜索关键词即可快速自助解决，这是最快的方法</p>
            </div>
        </div>
    </div>
</section>