<section class="lp-layer faq | padding-block-64">
    <div class="layer_inner">
        <div class="layer_header | center" style="--tab-index: 1;">
            <h2 class="fs-headline-m fw-bold" style="margin-bottom: var(--size-16);">最受关注的问题</h2>
        </div>
        <div class="even-columns grid-2-3 center" style="margin-top: var(--size-64);">
            <div class="question" style="--tab-index: 1;">
                <strong class="fs-text-xl fc-base-main fw-semibold">BJM难不难学？</strong>
                <p>Our SaaS product operates by providing software applications and services through the cloud.
                    Users can access and utilize our product via a web browser without the need for local installation.</p>
            </div>
            <div class="question" style="--tab-index: 2;">
                <strong class="fs-text-xl fc-base-main fw-semibold">能对接犀牛/JCAD/ZBrush吗？</strong>
                <p>目前，BJM支持导入犀牛和JCAD创建的iges文件, 以及导出流形拓扑结构的网格为iges文件。我们还一同分发开源插件Gob，可用于无缝对接ZBrush</p>
            </div>
            <div class="question" style="--tab-index: 3;">
                <strong class="fs-text-xl fc-base-main fw-semibold">BJM会持续更新吗？</strong>
                <p>Our SaaS product operates by providing software applications and services through the cloud.
                    Users can access and utilize our product via a web browser without the need for local installation.</p>
            </div>
            <div class="question" style="--tab-index: 4;">
                <strong class="fs-text-xl fc-base-main fw-semibold">BJM出现问题了怎么办？</strong>
                <p>Our SaaS product operates by providing software applications and services through the cloud.
                    Users can access and utilize our product via a web browser without the need for local installation.</p>
            </div>
        </div>
    </div>
</section>