<section class="lp-layer features | padding-block-64" data-md-color-scheme="slate">
    <div class="layer_inner">
        <div class="layer_header | center">
            <h2 class="fs-headline-m fw-bold" style="margin-bottom: var(--size-16);">为什么你 <span>应该</span> 使用BJM</h2>
            <p>BJM是一款行业领先的，基于珠宝生产经验和开源软件blender的珠宝建模插件</p>
        </div>
        <div class="column-grid-3">
            <div class="lp-tab" style="--tab-index: 1;">
                <span class="icon"><img src="./assets/images/Search_icon.svg"></span>
                <h4 class="fs-headline-xs fw-semibold padding-block-16">Blender平台</h4>
                <p>开源免费零门槛神器！自由创作无限可能，颠覆想象的3D全流程利器！</p>
            </div>
            <div class="lp-tab" style="--tab-index: 2;">
                <span class="icon"><img src="./assets/images/FingerTap_icon.svg"></span>
                <h4 class="fs-headline-xs fw-semibold padding-block-16">万物可逆，随时溯源</h4>
                <p>参数化节点编辑，非破坏性建模，修改完成只在瞬间</p>
            </div>
            <div class="lp-tab" style="--tab-index: 3;">
                <span class="icon"><img src="./assets/images/Headset_icon.svg"></span>
                <h4 class="fs-headline-xs fw-semibold padding-block-16">开源教程/线下培训</h4>
                <p>哔哩哔哩UP：臻品斑斓   已开源300多集专业教程陪伴学习</p>
                <p>线下学习： 深圳龙岗六约</p>
            </div>
        </div>
    </div>
</section>